WORDPRESS_API_URL=http://cms.hsetraining.test
HSE_CHECKOUT_SOURCE=staging
PUBLIC_SENTRY_DSN=https://5df1889a9c77a842f0811138c8e018c3@o4512174212972544.ingest.de.sentry.io/4512181397946448
PUBLIC_SENTRY_ENVIRONMENT=local
